<div class="col-xl-8 col-lg-8 col-md-8 col-sm-10 mx-auto text-center p-5">
  <img class="logo mb-4" src="../img/WMtD.png">



  <div class="row justify-content-md-center mb-5">
    <div class="col">
      <i class="fas fa-solid fa-user mb-3"></i>
      <h3 class="text-white text-center mb-3">
        How much leave is {{latestUser.name}} owed?<br>
        <span class="text-danger">{{numberWithCommas latestUser.annual}}</span> weeks of annual leave<br><span
          class="text-danger">{{numberWithCommas latestUser.personal}}</span> weeks of personal leave<br> <span
          class="text-danger">{{numberWithCommas latestUser.long}}</span> weeks of long service leave
      </h3>
    </div>
  </div>

  <div class="row justify-content-md-center mb-5">
    <div class="col">
      <i class="fas fa-solid fa-industry mb-3"></i>
      <h3 class="text-white text-center">
        <span class="text-danger">{{numberWithCommas totals.total_submissions}}</span> people filled out this calculator
        from your sector <span class="text-danger">'{{numberWithCommas totals.sector}}'</span>

        and are owed a total of<br>
        <span class="text-danger">{{numberWithCommas totals.total_annual}}</span>
        weeks in annual leave<br>
        <span class="text-danger">{{numberWithCommas totals.total_personal}}</span> weeks in personal leave<br>
        <span class="text-danger">{{numberWithCommas totals.total_long}}</span> weeks in long service leave
      </h3>
    </div>
  </div>

  <div class="row justify-content-md-center mb-5">
    <div class="col">
      <i class="fas fa-solid fa-users mb-3"></i>
      <h3 class="text-white text-center">

        <span class="text-danger">{{numberWithCommas totalNumber}}</span> people have used this calculator and are owed
        a total of<br>
        {{#each users3 as | user |}}
        <span class="text-danger">{{numberWithCommas user.total_annual}}</span> weeks in annual leave<br>
        <span class="text-danger">{{ numberWithCommas user.total_personal
          }}</span> weeks in personal leave<br>
        <span class="text-danger">{{ numberWithCommas user.total_long
          }}</span> weeks in long service leave
        {{/each}}
      </h3>
    </div>
  </div>



  {{!-- <div class="row justify-content-md-center mb-5">
    <div class="col">
      <button type="submit" onclick="myFunction()" class="btn btn-danger">See by sector</button>
    </div>
  </div>
  <div id="sector" class="row justify-content-md-center">
    <div class="col">
      {{#each users2 as | user |}}
      <div class="card mb-3">
        <h5 class="card-header">{{sector}}</h5>
        <div class="card-body">
          <p class="card-title">Annual leave: {{numberWithCommas total_annual}}</p>
          <p class="card-title">Personal leave: {{numberWithCommas total_personal}}</p>
          <p class="card-title">Long service leave: ${{numberWithCommas total_long}}</p>

        </div>
      </div>
      {{/each}}
    </div>
  </div> --}}

  {{!-- {{#if logged_in}}

  {{else}}
  <p class="text-white text-centre mt-5">If you are an admin you can login <a class="" href="/login">here</a></p>
  {{/if}} --}}

  {{!--
  <script>
    function myFunction() {
      var x = document.getElementById("industry");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  </script> --}}