<div class="col-xl-8 col-lg-8 col-md-8 col-sm-10 mx-auto text-center p-5">
  <img class="logo mb-4" src="../img/WMtD.png">



  <div class="row justify-content-md-center mb-5">
    <div class="col">
      <i class="fas fa-solid fa-user mb-3"></i>
      <h3 class="text-white text-center mb-3">
        How much leave is {{latestUser.name}} owed?<br>
        <span class="text-danger">{{numberWithCommas latestUser.annual}}</span> weeks of annual leave<br><span
          class="text-danger">{{numberWithCommas latestUser.personal}}</span> weeks of personal leave<br> <span
          class="text-danger">{{numberWithCommas latestUser.long}}</span> weeks of long service leave
      </h3>


      <p class="text-white mb-0">Share this calculator:</p>
      <li class="social"><a target="_blank"
          href="https://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.findmyleave.com.au%2F"><i
            class="fab fa-facebook-square"></i></a>

        <a target="_blank" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwww.findmyleave.com.au%2F"><i
            class="fab fa-twitter-square"></i></a>

        <a target="_blank"
          href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.findmyleave.com.au%2F"><i
            class="fab fa-linkedin"></i></a>
      </li>


    </div>
  </div>

  <div class="row justify-content-md-center mb-5">
    <div class="col">
      <i class="fas fa-solid fa-industry mb-3"></i>
      <h3 class="text-white text-center">
        <span class="text-danger">{{numberWithCommas totals.total_submissions}}</span> people filled out this calculator
        from your sector <span class="text-danger">'{{numberWithCommas totals.sector}}'</span>

        and are owed a total of<br>
        <span class="text-danger">{{weeksToYears totals.total_annual}}</span>
        years in annual leave<br>
        <span class="text-danger">{{weeksToYears totals.total_personal}}</span> years in personal leave<br>
        <span class="text-danger">{{weeksToYears totals.total_long}}</span> years in long service leave
      </h3>
    </div>
  </div>

  <div class="row justify-content-md-center mb-5">
    <div class="col">
      <i class="fas fa-solid fa-users mb-3"></i>
      <h3 class="text-white text-center">

        <span class="text-danger">{{numberWithCommas totalNumber}}</span> people have used this calculator and are owed
        a total of<br>
        {{#each users3 as | user |}}
        <span class="text-danger">{{ weeksToYears user.total_annual}}</span> years in annual leave<br>
        <span class="text-danger">{{ weeksToYears user.total_personal
          }}</span> years in personal leave<br>
        <span class="text-danger">{{ weeksToYears user.total_long
          }}</span> years in long service leave
        {{/each}}
      </h3>
    </div>
  </div>





  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60cbca2e10f0ee50"></script>